@model IEnumerable<ProductType>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2>Product Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.Name)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><partial name="_ButtonPartial" model="@item.Id"/></td>
                    </tr>
                }

            </tbody>
        </table>
        
    </div>
</div>

@section Scripts{ 
    <script>
        $(function () {
            let save = `@TempData["save"]`;
            if (save != null) {
                alertify.success(save);
            };
            
        })
    </script>
}