@model int


<a asp-action="View" asp-route-id="@Model" class="btn btn-success"><i class="fas fa-list-ul"></i>View</a>
<a asp-action="Edit" asp-route-id="@Model" class="btn btn-info"><i class="far fa-edit"></i>Edit</a>
<a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a>
